<div class="container">
  <div class="content-container">
    <!-- Image container -->
    <div class="image-container">
      <img class="thumbnail" [src]="program?.thumbnail">
      <ion-icon class="back" routerLink="/programs" name="chevron-back"></ion-icon>
      <img class="u-graz" src="../../../assets/images/u-graz.png">
      <div fill="clear">
        <ion-icon name="share-outline"></ion-icon>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>

    <!-- Program Info -->
    <div class="program-info">
      <ion-card-title class="program">{{ program?.title }}</ion-card-title>
      <ion-card-title class="school">
        <div>
          <ion-icon name="partner"></ion-icon>
          {{ program?.university }}
        </div>

        <div>
          <ion-icon name="location-outline"></ion-icon>
          {{ program?.location }}
        </div>
      </ion-card-title>
      <ion-card-subtitle>{{ program?.subtitle }}</ion-card-subtitle>
    </div>

    <!-- Analytics -->
    <div class="analytics">
      <span>
        <ion-icon name="eye"></ion-icon>
        191126 Views
      </span>
      <span>
        <ion-icon name="trending-up"></ion-icon>
        293612 Impression
      </span>
    </div>

    <!-- Program Breakdown -->
    <div class="program-breakdown">
      <ion-card-header>
        <ion-card-title>Program Breakdown</ion-card-title>
      </ion-card-header>

      <div class="breakdown">
        <span>
          <img src="../../../assets/SVGs/star.svg" alt="">
          <ion-label>{{ program?.duration }}<br><span>Duration</span></ion-label>
        </span>
        <span>
          <img src="../../../assets/SVGs/star.svg" alt="">
          <ion-label>{{ program?.level }}<br><span>Level</span></ion-label>
        </span>
        <span>
          <img src="../../../assets/SVGs/star.svg" alt="">
          <ion-label>${{ program?.tuition }} per semester<br><span>Tuition Fee</span></ion-label>
        </span>
        <span>
          <img src="../../../assets/SVGs/star.svg" alt="">
          <ion-label>{{ program?.attendance }}<br><span>Attendance</span></ion-label>
        </span>
        <span>
          <img src="../../../assets/SVGs/star.svg" alt="">
          <ion-label>{{ program?.mode }}<br><span>Attendance</span></ion-label>
        </span>
      </div>
    </div>

    <!-- Program Description -->
    <div class="description">
      <ion-card-header>
        <ion-card-title>Description</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div [class.collapsed]="!showFullDescription">
          {{ program?.description }}
        </div>
        <ion-button fill="clear" size="small" (click)="toggleDescription()">
          {{ showFullDescription ? 'Read less' : 'Read more' }}
          <ion-icon [name]="showFullDescription ? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-button>
      </ion-card-content>
    </div>

    <!-- Program Requirements -->
    <div class="requirement">
      <ion-card-header>
        <ion-card-title>Requirement</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div *ngFor="let requirement of program?.requirements" [class.collapsed]="!showFullRequirement">
          <span><ion-icon name="check"></ion-icon></span>
          {{ requirement }}
        </div>

        <ion-button fill="clear" size="small" (click)="toggleRequirement()">
          {{ showFullRequirement ? 'Read less' : 'Read more' }}
          <ion-icon [name]="showFullRequirement ? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-button>
      </ion-card-content>
    </div>

    <!-- Structure -->
    <div class="structure">
      <ion-card-header>
        <ion-card-title>Structure</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div [class.collapsed]="!showFullStructure">
          {{ program?.description }}
        </div>
        <ion-button fill="clear" size="small" (click)="toggleStructure()">
          {{ showFullStructure ? 'Read less' : 'Read more' }}
          <ion-icon [name]="showFullStructure ? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-button>
      </ion-card-content>
    </div>

    <!-- Fees -->
    <div class="fees-breakdown">
      <ion-card-header>
        <ion-card-title>Fees</ion-card-title>
        <ion-card-subtitle>
          Service fee is €50. <br>
          For international degree students, the tuition fee is € 726,72
        </ion-card-subtitle>
      </ion-card-header>

      <div class="breakdown">
        <span>
          <img src="../../../assets/SVGs/star.svg" alt="">
          <ion-label>${{ program?.housing }}<br><span>Housing Fee</span></ion-label>
        </span>
        <span>
          <img src="../../../assets/SVGs/star.svg" alt="">
          <ion-label>${{ program?.acceptance }}<br><span>Acceptance Fee</span></ion-label>
        </span>
        <span>
          <img src="../../../assets/SVGs/star.svg" alt="">
          <ion-label>${{ program?.tuition }} per semester<br><span>Tuition Fee</span></ion-label>
        </span>
        <span>
          <img src="../../../assets/SVGs/star.svg" alt="">
          <ion-label>${{ program?.application }}<br><span>Application Fee</span></ion-label>
        </span>
        <span>
          <img src="../../../assets/SVGs/star.svg" alt="">
          <ion-label>${{ program?.living }}<br><span>Living Fee</span></ion-label>
        </span>
      </div>
    </div>

    <!-- Extra Information -->
    <ion-card-content>
      <ion-card-title>Extra Information</ion-card-title>
      <div class="list">
        <span><ion-icon name="information-circle-outline"></ion-icon></span>
        <div>
          <p>
            Main, Portierloge Wall, Portierloge ReSoWi, Portierloge Hauptgebäude
          </p>
          <span>Campus(es)</span>
        </div>
      </div>

      <div class="list">
        <span><ion-icon name="information-circle-outline"></ion-icon></span>
        <div>
          <p>Winter 2024</p>
          <span>Intakes</span>
        </div>
      </div>

      <div class="list">
        <span><ion-icon name="information-circle-outline"></ion-icon></span>
        <div>
          <p>English Language</p>
          <span>Study Language</span>
        </div>
      </div>
    </ion-card-content>
  </div>

  <div class="footer">
    <div class="school-info">
      <img src="../../../assets/images/u-graz.png" alt="">
      <div>
        <span class="name">{{ program?.title }}</span>
        <span class="fee">${{ program?.tuition }}/per semester</span>
      </div>
    </div>

    <div class="actions">
      <ion-button class="back" fill="clear">
        <span><ion-icon name="chevron-back"></ion-icon></span>
        <span>Back</span>
      </ion-button>
      <ion-button class="apply" fill="clear">
        <span>Apply now</span>
        <span><ion-icon name="chevron-forward"></ion-icon></span>
      </ion-button>
    </div>
  </div>
</div>