.header {
  height: 58px;
  padding-top: 1rem;
  background: #fff;

  .toolbar {
    --background: #fff;
    height: 100%;
    display: flex;

    ion-button {
      color: #151515;

      ion-icon {
        font-size: 100%;
        width: 24px;
        height: 24px;
      }
    }
    
    ion-title {
      color: #141414;
      font-size: 24px;
      font-weight: 700;
      line-height: 31px;
      padding-left: 0;
    }
  }
}

ion-content {
  --background: #fff;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4cafef; /* scrollbar thumb color */
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #2196f3;
  }
}

.filter-section {
  background-color: #fff;

  h2 {
      font-size: 18px;
      font-weight: 700;
      line-height: 23px;
      margin-bottom: 8px;
  }

  .range-values {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    margin-bottom: 12px;

    .value-box {
      display: flex;
      align-items: center;
      gap: 1rem;
      border-radius: 10px;
      padding: 0 10px;
      height: 56px;
      width: 49%;
      border: 1px solid #D1D1D1;

      .label {
        font-size: 16px;
        font-weight: 500;
        color: #454545;
      }

      ion-label {
        padding: .5rem 1rem;
        --background: none;
        font-size: 16px;
        font-weight: 400;
        color: #888888;
      }
    }
  }

  .range-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 1rem;

    ion-range {
      --bar-height: 6px;
      --knob-size: 20px;
      --background: #184EC9;
      color: #184EC9;
    }

    .bubble {
      position: absolute;
      bottom: 10px;
      transform: translateX(-50%);
      color: #151515;
      padding: 2px 6px;
      font-size: 14px;
      font-weight: 500;
      border-radius: 6px;
      white-space: nowrap;
    }
  }
}

.filter-list {
  padding-top: 10px;
  border-top: 1px solid #D1D1D1;

  ion-item {
    --background: #fff;
    border-bottom: 1px solid #f0f0f0;

    ion-label {
      h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        margin-bottom: 2px;
        color: #1E1E1E;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: #5D5D5D;
      }
    }
  }
}

ion-footer {
  padding: 12px;
  border-top: 1px solid #eee;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  background: #fff;

  .footer-buttons {
    display: flex;
    gap: 10px;

    ion-button {
      flex: 1 1;
      height: 45px;
      border-radius: 32px !important;
      font-size: 14px;
      font-weight: 500;
    }

    .clear-btn {
      background: #D9EDFF;
      color: #184EC9;
    }
    .results-btn {
      background: #184EC9;
      color: #fff;
    }
  }
}
