<div class="header">
  <div class="toolbar" fill="clear">
      <ion-button fill="clear" routerLink="/">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

    <ion-title>Filter</ion-title>
  </div>
</div>

<ion-content class="ion-padding">
  <!-- Tuition Fee -->
  <div class="filter-section">
    <h2>Tuition fee</h2>
    <div class="range-values">
      <div class="value-box">
        <span class="label">Min</span>
        <ion-input type="text" [ngModel]="tuitionRange.lower.toLocaleString()" readonly></ion-input>
      </div>

      <div class="value-box">
        <span class="label">Max</span>
        <ion-input type="text" [ngModel]="tuitionRange.upper.toLocaleString()" readonly></ion-input>
      </div>
    </div>

    <div class="range-wrapper">
      <ion-range 
        dualKnobs="true"
        [min]="50000"
        [max]="120000"
        step="1000"
        [(ngModel)]="tuitionRange"
        color="primary"
        (ionInput)="updatePositions($event)"
        >
      </ion-range>

      <div class="bubble lower" [style.left.%]="lowerPercent">
        {{ tuitionRange.lower / 1000 + 'k' }}
      </div>
      <div class="bubble upper" [style.left.%]="upperPercent">
        {{ tuitionRange.upper / 1000 + 'k' }}
      </div>
    </div>
  </div>

  <ion-list lines="none" class="filter-list">
    <ion-item *ngFor="let f of filters" button detail>
      <ion-label>
        <h3>{{ f.label }}</h3>
        <p>{{ f.value }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Footer -->
<ion-footer>
  <div class="footer-buttons">
    <ion-button class="clear-btn" fill="clear" (click)="clearAll()">Clear all</ion-button>
    <ion-button expand="block" fill="clear" class="results-btn">
      View 1024 Results
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</ion-footer>